body {
    font-size: 9px;
}
h1 {
	font-size: 30px;
	margin: 20px auto;
}
h2 {
	font-size: 18px;
	margin: 15px auto;
}
nav h2 {	
	display: inline-block;
	width: 100%;
	font-size: 25px;
	margin: 16px 0 0 5%;
	text-align: left;
}
#shapes-nav {
	display: none;
}
h3 {
	font-size: 13px;
	margin: 7px auto;
	width: 97%;
}
#number-line-form h3 {
	width: 80%;
}
h4 {
	font-size: 10px;
	margin: 8px auto;
	text-decoration: none;
	width: 95%;
}
#number-line-form h4 {
	font-size: 9px;
}
#number-line-form-2 h4 {
    font-size: 9px;
}
#footer-links h4 {
font-size: 15px;
text-align: center;
}
#footer-nav-list h4 {
font-size: 11px;
width: 90%;
margin: 10px 0 5px 10px;
}
#footer-links {
    width: 90%;
	margin: 10px auto 0;
}
footer h4 {
	margin-bottom: 5px;
}
#random-headings {
	width: 97%;
	margin: 10px auto 0;
}
#random-headings h4 {
	margin: 0 auto;
	font-size: 10px;
}
#random-head-one {
   text-align: left;
}
#random-head-two {
   text-align: right;
}
h5 {
	font-size: 9px;
	margin: 5px auto;
}
p {
	width: 80%;
 }
main {
    background-image: url(flash-54.jpg);
	margin: 75px auto 620px;   /* check this */
/*	background-origin: content-box;
	padding: 0 4px 0 0; */
}
 #centerDoc {
	margin: 0 10%;
	width: 80%;
}
nav {
	height: 75px;
	font-size: 9px;
}
nav a.icon {
    margin: 15px 0 0;
}
#nav-list a.icon {
	margin: 14px 0 0;
}
#hamburger-container2 {
	position: fixed;
	top: 0;
	right: 0;
	height: 40px;
	font-size: 17px;
}
#hamburger-container {
	height: 30px;
	font-size: 14px;
}
#nav-list {
    overflow: scroll;
	height: 100%;
	padding: 0 0 20px;
}
#nav-list-inner {
    flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	justify-content: center;
}
#nav-list-outer {
    width: 90%;
    padding: 0 0 10px;
    margin: 60px auto 20px;
}
#nav-section-mult {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	order: 5;
	margin: 0 50% 0 0;
}
#nav-section-add {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	order: 1;
}
#nav-section-sub {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	order: 2;
}
#nav-section-counting {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	order: 3;
}
#nav-section-more {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	order: 4;
}
/*
#nav-list {
	display: block;
	width: 100%;
	margin: 0;
	position: relative;
	bottom: 0;
}
*/
#nav-list h4 {
    font-size: 11px;
	width: 100%;
	margin: 8px auto 5px;
}
#nav-list-outer h3 {
    font-size: 14px;
	margin: 10px auto 5px;
}
nav ul {
	padding: 0;
	text-align: right;
}
.nav-mult-section {
	
}
nav li {
	padding: 0 2px;
}
#shapes-nav {
	display: none;
}
#hundred-nav {
	display: none;
}
#navigation li {
    padding: 2px 0;
}
#nav-accordion {
	flex-basis: 100%;
	padding: 0 0 16px;
	margin: 10px auto 0;
}
.nav-accordion-section {
	font-size: 7px;
}
.nav-accordion-section-more {
	font-size: 7px;
	border-left: none;
	border-right: 1px solid #292929;
	padding-left: 3px;
}
.nav-accordion-section-more2 {
	font-size: 7px;
	border-left: 1px solid #292929;
	border-right: none;
	padding-right: 3px;
}
#nav-accordion h3 {
	font-size: 8px;
	font-weight: normal;
	width: auto;
}
#nav-accordion ul {
	margin: 0 0 0 4%;
}
#nav-accordion-list {
	margin-top: -8px;
}
#nav-accordion li {
	padding: 3px 0;
}
.accordion {
	margin: 4px auto 0;
}
.accordion:after {
    font-size: 9px;
}
.panel {
    padding: 15px 0 20px;
}
footer {
	height: 620px;
	font-size: 13px;	
}
#footer-nav-list {
	width: 100%;
	height: auto;
	padding: 0;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
#footer-nav-list-container {
	width: 95%;
	margin: 20px auto 0;
	padding: 0 0 10px; 
	border: 1px solid #292929;
}
#footer-mult {
	flex-basis: 50%;
	order: 5;
}
#footer-add {
	flex-basis: 50%;
	margin: 5px 0 0 0;
	order: 1;
}
#footer-counting {
	flex-basis: 50%;
	margin: 5px 0 0 0;
	order: 3;
}
#footer-sub {
	flex-basis: 50%;
	margin: 5px 0 0 0;
    order: 2;	
}
#footer-more-maths {
	flex-basis: 50%;
	margin: 5px 0 0 0;	
	order: 4;
}
.border-right {
	display: none;
}
footer li {
	font-size: 9px;
	padding: 0;
}
#index-main {
	width: 100%;
}
.index-tile {
    padding: 0 0 10px;
    flex-basis: 29%;
    margin: 0 1%;
}
#hpgif-container {
	width: 50%;
}
form {
	width: 100%;
	padding: 0 0 50px;
}
/* sums to ten */
/*
input[type=number] {
width: 36px;
height: 39px;
}
*/
.myForm input[type=number] {
	font-size: 16px;
	margin: 0;
	padding-top: 0;
}
.myForm20 input[type=number] {
	font-size: 16px;
	margin: 0;
	padding-top: 0;
}
.number-line-10 {
	font-size: 13px;
	word-spacing: 13px;
	margin: 0 auto;
	padding: 0;
}
.number-line-100 {
	font-size: 12px;
	word-spacing: 13px;
	margin: 0 auto;
	padding: 0;
}
.myForm20 {
	width: 100%;
}

#number-line-20 {
	font-size: 9px;
	word-spacing: 4px;
	margin: 0 auto;
	padding: 0;
}
.sums-main {
	width: 100%;
	margin: 0 auto;
}
.random-sums-main {
	width: 100%;
	margin: 0 auto;
}
.addition-sum {
	margin: 10px 3% 10px 12%;
	flex-basis: 85%;
	font-size: 16px;
}
.numboxes {
	padding: 10px 0;
	flex-basis: 15%;
	height: 18px;
}
.operator {	
	padding: 10px 0;
	flex-basis: 14%;
	font-size: 18px;
		height: 18px;
}
.ansboxes {
	height: 38px;
	font-size: 22px;
}
.tick {height: 9px;
       width: 4px;
       border-width: 0 2px 2px 0;
        margin-top: -7px;
        margin-left: -3px;
		}
		.tickbg {content:"\00a0";
         border: solid 11px #00CD00;
}
.tick-small {height: 7px;
       width: 3px;
       border: solid #FFFFFF;
       border-width: 0px 2px 2px 0px;
       -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
       -o-transform: rotate(45deg);
       display: block;
        margin-top: -5px;
        margin-left: -3px;}
		.tickbg-small {content:"\00a0";
         border: solid 8px #00CD00;
         border-radius: 50%;
         -moz-border-radius: 30%;
         -webkit-border-radius: 50%;
         height: 0;
         width: 0;
         display: block;}

input[type=number] {
width: 23px;
height: 24px;
}

#number-line-form input[type=number] {
font-size: 9px;
	padding: 0;
	width: 16px;
    height: 16px;
}
/*  number lines */
.nl-inner-container {
	flex-basis: 100%;
	padding: 0;
	margin: 0;
}
 .number-line {
    flex-basis: 94%;
	height: 45px;
    margin: 7px 0;
	padding: 0 0 0 6%;
	justify-content: flex-start;
}
.number-line-two {
    flex-basis: 94%;
	height: 45px;
    margin: 7px 0;
	padding: 0 0 0 6%;
	justify-content: flex-start;
}
.number {
	font-size: 9px;
	margin: 0;
    width: 7%;
}
.number-hundred {
	margin: 0;
	width: 7%;
	padding: 0 0 0 2px;
	font-size: 9px;
}
.ansboxes-number-line-hundred {
    width: 7%;
    padding: 0 0 0 2px;
}
.ansboxes-number-line {
	top: 0;
    margin: 0 0 0 1%;
    width: 7%;
}
.ansboxes-number-line-two {
	top: 0;
    margin: 0 0 0 1%;
    width: 7%;
}
.tickboxes-numberlines {
    top: 0;
    left: 0;
	margin: 0 0 0 2%;
	flex-basis: 6%;
}
#tickcontainerNumberLines1 {
    flex-basis: 8%;
}
#number-line-form-2 input[type=number] {
font-size: 16px;
padding: 0;
}
#message2-1 {
	font-size: 16px;
}
#message2-1-2 {
	font-size: 16px;
}
#message2-2 {
	font-size: 16px;
}
#message2-2-2 {
	font-size: 16px;
}
#message2-3 {
	font-size: 16px;
}
#message2-3-2 {
	font-size: 16px;
}
#message2-4 {
	font-size: 16px;
}
#message2-4-2 {
	font-size: 16px;
}
#message2-5 {
	font-size: 16px;
}
#message2-5-2 {
	font-size: 16px;
}
/*  number lines 2   */
#number-line-form-2 input[type=number] {
    font-size: 9px;
    width: 16px;
	height: 16px;
}
.more-number-line {
	flex-basis: 90%;
	height: 45px;
	margin: 7px 0;
	padding: 0 1% 0 9%;
	justify-content: flex-start;
}
.more-number-line-two {
	flex-basis: 90%;
	height: 45px;
	margin: 7px 0;
	padding: 0 1% 0 9%;
	justify-content: flex-start;
}

/*
hundred board */
#hundred-board-form input[type=number] {
font-size: 11px;
padding: 0;
}
#hundred-board-form h4 {
	font-size: 9px;
	width: 100%;
}
#hundred-board {
	width: 90%;
	margin: 20px auto 0;
}
.hundred-number {
	font-size: 11px;
	padding: 6px 0 5px;
}
#hundred-board-form input[type=button] {
    font-size: 10px;
}
.rnl-button {
    padding: 4px 10px;
}
#hundred-board-form h1 {
    margin-bottom: 20px;
}
#message-hundred {
    width: 50%;
    margin: 10px auto;
    padding: 0;
	border: 2px solid rgb(0, 205, 0, 0.7);
}
#message-hundred h4 {
    font-size: 10px;
}
#message-hundred-container {
    height: 50px;
}
/*   2d shapes  */
#shapes2d input[type=radio] {
	top: 2px;
	margin: 5px auto;
    width: 10px;
    height: 10px;
}
.shapes-container {
	width: 100%;
}
#shapes-container-two {
	width: 100%;
}
.shape-section {
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
}
.shape-section-border {
	margin: 0 auto;
	padding: 0;
}
.shape-border {
	width: 70%;
    border-bottom: 1px solid #bbbbbb;
}
.image-container {
	height: auto;
}
.shape-answers {
	font-size: 9px;
}
#shapes2d h3 {
	font-size: 9px;
}
#square {
width: 55px;
height: 55px;
margin: 0 5% 0 0;
}
#rectangle {
width: 80px;
height: 40px;
margin: 0 5% 0 0;
}
#circle {
width: 65px;
height: 65px;
margin: 0 5% 0 0;
}
#trianlge {
      width: 0;
      height: 0;
	  margin: 0 5% 0 0;
      border-left: 35px solid transparent;
      border-right: 35px solid transparent;
      border-bottom: 70px solid red;	
}
    #heart {
      position: relative;
      width: 55px;
      height: 60px;
	  right: 28px;
	  bottom: 15px;
    }
    #heart:before,
    #heart:after {
      position: absolute;
      content: "";
      left: 40px;
      top: 15px;
      width: 40px;
      height: 62px;
      background: deeppink;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    #heart:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
   #oval {
      width: 93px;
      height: 37px;
	  margin: 0 5% 0 0;
      background: orangered;
      border-radius: 75px / 30px; 
    }

 
    #diamond {
      width: 0;
      height: 0;
	  margin: 0 5% 0 0;
      border: 25px solid transparent;
      border-bottom: 35px solid cyan;
      position: relative;
      top: -30px;
    }
    #diamond:after {
      content: '';
      position: absolute;
      left: -25px;
      top: 34px;
      width: 0;
      height: 0;
      border: 25px solid transparent;
      border-top: 35px solid cyan;
    }
.shape-section-star {
	display: none;

}

  /* random sums */
  #randomsums input[type=number] {
	font-size: 16px;
	margin: 0;
	padding: 0;
}
  #randomsums button {
	font-size: 8px;
}
    #randomsums input[type=submit] {
	font-size: 14px;
}
.addition-sum-random-container {
    margin: 10px auto 0;
}
 #number-line-20-random {
	font-size: 9px;
	word-spacing: 4px;
	margin: 0 auto;
	padding: 0;
}
.addition-sum-random {
	font-size: 16px;
margin: 0 auto;
    flex-basis: 95%;
    padding: 0 0 0 5%;
}
.random-boxes {
	flex-basis: 19%;
	height: 100px;
}
.random-inner {	
	width: 70%;
	height: 35px;
}
.random-inner-minus {	
	width: 70%;
	height: 20px;
    padding: 0 0 15px;
}
.random-inner-bottom {
	height: 50px;
	margin: 0;
	width: 150%;
}
.tickboxes-random {
    height: auto;
}
#tickcontainerRandomOne {
    height: auto;
}
#tickcontainerRandomTwo {
	height: auto;
}
#random-inner-one {
	width: 70%;
	height: 35px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;	
}
#random-inner-two {
	width: 70%;
	height: 35px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.random-boxes-num {
		border: 2px solid #bbbbbb;
		font-size: 22px;
}
#random-num1 {
	display: block;
	position: relative;
	bottom: 0;
}
#message-1-random {
	width: 40%;
	margin: 10px auto;
	padding: 10px 0;
	font-size: 16px;
}
/* random sums minus   */

#random-inner-three {
	width: 70%;
	height: 35px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
#random-inner-four {
	width: 70%;
	height: 35px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
#message-2-random {
	width: 40%;
	margin: 10px auto;
	padding: 10px 0;
	font-size: 16px;
}
/*
number bonds from ten*/
.myFormMinus input[type=number] {
	font-size: 16px;
	padding-top: 0;
}
.minus-operator {
	padding: 1px 0 21px;
	font-size: 19px;
}
#myFormMinus20 input[type=number] {
	font-size: 16px;
	padding: 0;
}
/*   random number lines */
#more-number-line-form input[type=number] {
    font-size: 13px;
	height: 28px;
	padding: 0;
}
.number-line-container {
    font-size: 10px;
}
.number-line-more {
    flex-basis: 100%;
    margin: 15px 0 15px;
    padding: 5px 0 20px;
}
.rnl-inner-container {
    flex-basis: 96%;
    margin: 10px 0;
    padding: 0 0 0 4%;
    justify-content: flex-start;
}
.line-more {
    border-bottom: 1px solid #000;
	margin: 6px 11% 0 6%;
    flex-basis: 83%;
  /*  margin: 6px 0 0;
    flex-basis: 100%;
    position: relative;
    bottom: 33px;*/
}
#more-number-line-form h4 {
    font-size: 10px;
	margin: 8px auto;
}
.number-more {
    margin: 0;
    width: 10%;
    font-size: 9px;
}
.more-lines-button button {
    font-size: 9px;
	width: 200%;
}
.more-lines-button {
    position: relative;
    top: 17px;
    right: 18px;
    width: 100%;
}
#random-more-number-line {
}
.ansboxes-more-number-line {
    width: 10%;
    height: 28px;
    margin: 0 0 10px;
}
.random-more-container {
    width: 10%;
    margin: 0;
}
#random-more-number-line {
	position: relative;
	top: 6px;
	width: 95%;
    height: 28px;
    margin: 0 1% 0 0;
	padding: 3px 0;
    font-size: 14px;
}
#random-more-number-lineThree {
	position: relative;
	top: 6px;
	width: 95%;
    height: 28px;
    margin: 0 1% 0 0;
	padding: 3px 0;
    font-size: 14px;
}
#random-more-number-lineTwo {
	position: relative;
	top: 6px;
	width: 95%;
    height: 28px;
    margin: 0 1% 0 0;
	padding: 3px 0;
    font-size: 14px;
}
.number-line-two-more {
    flex-basis: 100%;
    margin: 15px 0 15px;
    padding: 10px 0 15px;
}
.tickboxes-random-numberlines {
	margin: 0  0 0 2%;
	flex-basis: 5%;
	top: 25px;
}
#tickcontainerRNumberLines1 {
    margin: 0;
    flex-basis: 2%;
	position: relative;
	bottom: 25px;
}
#tickcontainerRNumberLines3 {
    margin: 0;
    flex-basis: 5%;
	position: relative;
	bottom: 25px;
}
 #tickcontainerRNumberLines2 {
    margin: 0;
    flex-basis: 5%;
	position: relative;
	bottom: 25px;
}
/*   counting in 2s   */
.counting-image-container {
    display: flex;
    flex-basis: 75%;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 3%;
}
.counting-input {
    flex-basis: 10%;
	    align-items: flex-start;
    padding: 0;
}
.footprints-and-in-2s {
    margin: 10px auto 20px;
    padding: 20px 0;
}
.f-pair {
    margin: 0 7px;
	width: 28px;
	height: auto;
}
.s-pair {
    margin: 0 5px;
	width: 23px;
	height: auto;
}
.b-pair {
    margin: 0 3px;
	width: 20px;
	height: auto;
}
.s-prints {
    margin: 0 2px;
	width: 15px;
	height: auto;
}
.w-pair {
    margin: 0 1px;
	width: 11px;
	height: auto;
}
#counting-in-2s input[type=number] {
    font-size: 13px;
    font-weight: bold;
    padding: 0 4px;
	width: 18px;
    height: 30px;
}
.ansboxes-in2s {
	flex-basis: 10%;
	height: auto;
}
.counting-input h5 {
	display: none;
}
.footprints-and-in-2s h4 {
	margin: 0;
	font-size: 9px;
}
#counting-in-2s h1 {
	margin-bottom: 0;
}
.counting-message {
    justify-content: center;
    margin: 0 0 0 1%;
	flex-basis: 8%;
}
#tickcontainerOne-in2s {
    padding: 0;
}
#tickcontainerTwo-in2s {
    padding: 0;
}
#tickcontainerThree-in2s {
    padding: 0;
}
#tickcontainerFour-in2s {
    padding: 0;
}
#tickcontainerFive-in2s {
    padding: 0;
}
/* dice */
#dice-main {
	width: 100%;
}
#container-dice {
    width: 100%;
    padding: 20px 0;
	height: 256px;
}
.rnl-button {
	font-size: 10px;
}
#headings {
	flex-direction: column;
}
#headings h4 {
	width: 100%;
	margin: 0 auto 8px;
}
#flx1 {
	flex-basis: 100%;
}
#flx2 {
	flex-basis: 100%;
}
.dice {
	width: 65px;
	height: 65px;
}
.circle {
	width: 10px;
	height: 10px;
}
#output-container {
    width: 95%;
	margin: 10px auto;
	font-size: 16px;
	flex-wrap: wrap;
}
#diceAnswer {
	font-size: 16px;
	padding: 8px 0;
}
#output1 {
	flex-basis: 15%;
	padding: 8px 0;
}
#output2 {
	flex-basis: 15%;
}
.operatorD {
	flex-basis: 15%;
}
#answer {
	flex-basis: 15%;
}
#submit-container {
    margin: 10px 0 0;
}
#outer {
	flex-wrap: wrap;
	justify-content: space-around;
}
#dice-container1 {
    order: 1;
}
#button-container {
    order: 3;
}
#dice-container2 {
    order: 2;
}
#refresh-container {
    margin: 10px 0 0;
}



/* media queries
*/
@media only screen and (max-width: 370px) {
	#index-main h1 {
	font-size: 27px;
}
h1 {
	font-size: 27px;
}
input[type=number] {
    width: 23px;
    height: 25px;
}
.addition-sum {
    margin: 10px 1% 10px 4%;
    flex-basis: 95%;
}
.f-pair {
    margin: 0 7px;
	width: 25px;
	height: auto;
}
.s-pair {
    margin: 0 4px;
	width: 20px;
	height: auto;
}
.b-pair {
    margin: 0 3px;
	width: 17px;
	height: auto;
}
.s-prints {
    margin: 0 2px;
	width: 12px;
	height: auto;
}
.w-pair {
    margin: 0 1px;
	width: 9px;
	height: auto;
}
.hundred-number {
    padding: 7px 0 5px;
}
}

@media only screen and (max-width: 360px) {

.number-line-10 {
	font-size: 11px;
	word-spacing: 11px;
}
.number-line-100 {
	font-size: 11px;
	word-spacing: 10px;
	margin: 0 auto;
	padding: 0;
}
}
@media only screen and (max-width: 340px) {
#number-line-20 {
	font-size: 8px;
	word-spacing: 4px;
}
#number-line-20-random {
    font-size: 8px;
    word-spacing: 4px;
}
#nav-list-outer {
    width: 95%;
}
}

@media only screen and (max-width: 360px) {
.more-lines-button button {
    font-size: 9px;
    width: 250%;
}
#output1 {
    padding: 5px 0;
}
}

@media only screen and (min-width: 330px) {
main {
    background-image: url(flash-50.jpg);
}
}
@media only screen and (min-width: 340px) {
 .more-number-line {
    flex-basis: 88%;
	padding: 0 0 0 12%;
}
.more-number-line-two {
    flex-basis: 88%;
	padding: 0 0 0 12%;
}
 .number-line {
    flex-basis: 90%;
	padding: 0 0 0 10%;
}
.number-line-two {
    flex-basis: 90%;
	padding: 0 0 0 10%;
}
}

@media only screen and (min-width: 350px) {
.more-lines-button {
    right: 20px;
}
#footer-nav-list-container {
    width: 90%;
}
#footer-nav-list {
    width: 95%;
}
}

@media only screen and (min-width: 360px) {
main {
    background-image: url(flash-54.jpg);
}
 .number-line {
    flex-basis: 87%;
	padding: 0 1% 0 12%;
}
.number-line-two {
    flex-basis: 87%;
	padding: 0 1% 0 12%;
}
#nav-list-outer {
    width: 85%;
}
}
@media only screen and (min-width: 370px) {

#myForm input[type=number] {
	padding-left: 8px;
}
#myForm20 input[type=number] {
	padding-left: 8px;
}
#myFormMinus input[type=number] {
	padding-left: 8px;
}
.more-lines-button {
    right: 15px;
}
#number-line-form input[type=number] {
font-size: 10px;
	width: 18px;
    height: 18px;
}
.number {
	font-size: 10px;
}
.number-hundred {
	font-size: 10px;
}
#number-line-form-2 input[type=number] {
    font-size: 10px;
    width: 18px;
    height: 18px;
}
 .more-number-line {
    flex-basis: 87%;
	padding: 0 1% 0 12%;
}
.more-number-line-two {
    flex-basis: 87%;
	padding: 0 1% 0 12%;
}
#footer-nav-list {
    width: 90%;
}
}

@media only screen and (min-width: 380px) {

.addition-sum-random {
    flex-basis: 90%;
    padding: 0 2% 0 8%;
}
main {
    background-image: url(flash-49.jpg);
}
#nav-list-outer {
    width: 80%;
}
#output-container {
    width: 90%;
}
}

@media only screen and (min-width: 392px) {
nav {
    height: 72px;
}
main {
    margin: 72px auto 620px;
}
.nav-accordion-section-more2 .accordion:after {
	margin: 0 0 8px 0;
}
}

@media only screen and (min-width: 400px) {
.sums-main {
    width: 90%;
}
#myForm input[type=number] {
	padding-left: 10px;
}
#myForm20 input[type=number] {
	padding-left: 10px;
}
#myFormMinus input[type=number] {
	padding-left: 10px;
}
.more-lines-button button {
    width: 200%;
}
.tickboxes-random-numberlines {
    margin: 0 0 0 2%;
    flex-basis: 5%;
}
#hundred-board {
    width: 85%;
}
 .more-number-line {
    flex-basis: 84%;
	padding: 0 2% 0 14%;
}
.more-number-line-two {
    flex-basis: 84%;
	padding: 0 2% 0 14%;
}
main {
    background-image: url(flash-51.jpg);
}
#message-hundred {
    width: 43%;
}
#footer-nav-list-container {
    width: 85%;
}
#footer-nav-list-container {
    width: 85%;
}
.shape-border {
    width: 60%;
}
#container-dice {
    width: 90%;
}
}


@media only screen and (min-width: 420px) {

.addition-sum-random {
    flex-basis: 86%;
    padding: 0 4% 0 10%;
}
.sums-main {
    width: 80%;
}
.rnl-inner-container {
    flex-basis: 90%;
    padding: 0 1% 0 9%;
}
.line-more {
    margin: 6px 12% 0 11%;
    flex-basis: 77%;
}
main {
    background-image: url(flash-54.jpg);
}
}

@media only screen and (min-width: 430px) {
	#number-line-form h3 {
    width: 100%;
}
#hundred-board {
    width: 80%;
}
#nav-list-outer {
    width: 71%;
}
}

@media only screen and (min-width: 440px) {

#myForm input[type=number] {
	padding-left: 13px;
}
#myForm20 input[type=number] {
	padding-left: 13px;
}
#myFormMinus input[type=number] {
	padding-left: 13px;
}
.more-lines-button {
    right: 16px;
}
.rnl-inner-container {
    flex-basis: 86%;
    padding: 0 3% 0 11%;
}
.line-more {
    margin: 6px 13% 0;
    flex-basis: 74%;
}
 .number-line {
    flex-basis: 82%;
	padding: 10px 3% 10px 15%;
}
.number-line-two {
    flex-basis: 82%;
	padding: 10px 3% 10px 15%;
}
#number-line-form input[type=number] {
font-size: 11px;
	width: 21px;
    height: 20px;
}
.number {
	font-size: 11px;
}
.number-hundred {
	font-size: 11px;
}
main {
    background-image: url(flash-50.jpg);
}
#footer-nav-list-container {
    width: 80%;
}
#footer-nav-list {
    width: 85%;
}
#output-container {
    width: 85%;
}
}

@media only screen and (min-width: 460px) {
	main {
    background-image: url(flash-51.jpg);
}
#footer-nav-list-container {
    width: 80%;
}
#footer-nav-list {
    width: 80%;
}
}

@media only screen and (min-width: 470px) {

.addition-sum-random {
    flex-basis: 72%;
    padding: 0 10% 0 18%;
}
.sums-main {
    width: 75%;
}
main {
    background-image: url(flash-54.jpg);
}
#message-hundred {
    width: 35%;
}
#nav-list-outer {
    width: 65%;
}
#output-container {
	width: 80%;
}
}

@media only screen and (min-width: 480px) {

#random-head-one {
   width: auto;
}
#random-head-two {
   width: auto;
}
 .more-number-line {
    flex-basis: 78%;
	padding: 0 5% 0 17%;
}
.more-number-line-two {
    flex-basis: 78%;
	padding: 0 5% 0 17%;
}
.more-lines-button button {
    width: 170%;
}
.more-lines-button {
    right: 12px;
}
}

@media only screen and (min-width: 500px) {
.sums-main {
    width: 68%;
}
.rnl-inner-container {
    flex-basis: 80%;
    padding: 0 6% 0 14%;
}
.line-more {
    margin: 6px 15% 0;
    flex-basis: 70%;
}
#hundred-board {
    width: 75%;
}
 .number-line {
    flex-basis: 78%;
	padding: 10px 5% 10px 17%;
}
.number-line-two {
    flex-basis: 78%;
	padding: 10px 5% 10px 17%;
}
main {
    background-image: url(flash-51.jpg);
}
.shape-border {
    width: 50%;
}
#nav-list-outer {
    width: 61%;
}
.more-lines-button button {
    width: 180%;
}
.more-lines-button {
    right: 13px;
}
#output-container {
	width: 75%;
}
}

@media only screen and (min-width: 530px) {
main {
    background-image: url(flash-54.jpg);
}
#nav-list-outer {
    width: 58%;
}
#output-container {
	width: 95%;
}
}