html {
	background-image: url(flash-25.jpg);
}
body {
    font-size: 13px;
}
h1 {
	font-size: 45px;
	margin: 30px auto;
}
h2 {
	font-size: 22px;
	margin: 15px auto;
}
nav h2 {	
	display: inline-block;
	width: 100%;
	font-size: 38px;
	margin: 20px 0 0 5%;
	text-align: left;
}
#shapes-nav {
	display: none;
}
h3 {
	font-size: 18px;
}
#number-line-form h3 {
	width: 80%;
}
h4 {
	font-size: 15px;
	margin: 8px auto;
}
#footer-links h4 {
    font-size: 18px;
    text-align: left;
}
#footer-nav-list h4 {
    font-size: 15px;
    text-align: left;
    width: 90%;
    margin: 10px 10% 5px 0;
}
footer h4 {
	margin-bottom: 5px;
}
#random-headings {
	width: 90%;
	margin: 10px auto 0;
}
#random-headings h4 {
	margin: 0 auto;
	font-size: 14px;
}
#random-head-one {
   text-align: left;
}
#random-head-two {
   text-align: right;
}
h5 {
	font-size: 14px;
}
p {
	width: 80%;
 }
#centerDoc {
    padding: 90px 0 530px;
}
nav {
	height: 90px;
	font-size: 12px;
}
#nav-list h4 {
    font-size: 14px;
	width: 100%;
}
#nav-list-outer h3 {
    font-size: 18px;
	margin: 10px auto;
}
nav a.icon {
    margin: 19px 0 0;
}
#nav-list a.icon {
	margin: 29px 0 0;
}
#hamburger-container2 {
	height: 40px;
	font-size: 22px;
}
#hamburger-container {
	height: 40px;
	font-size: 18px;
}
#nav-list {
    overflow: scroll;
    height: 100%;
    padding: 0 0 20px;
}
#nav-list-outer {
    width: 97%;
    margin: 60px auto 20px;
}
#nav-list-inner {
    width: 98%;
	margin: 10px auto 0;
}
nav ul {
	padding: 0;
	text-align: right;
}
nav li {
	padding: 0 3px;
}
#navigation li {
    padding: 3px 0;
}
#shapes-nav {
	display: none;
}
#nav-accordion {
	flex-basis: 97%;
	padding: 0 0 15px;
	margin: 21px auto 0;
}
.nav-accordion-section {
	font-size: 11px;
}
.nav-accordion-section-more {
	font-size: 11px;
}
.nav-accordion-section-more2 {
	font-size: 11px;
}
#nav-accordion h3 {
	font-size: 13px;
}
#nav-accordion ul {
	margin: 0 0 0 3%;
}
.accordion {
	margin: 4px auto 0;
}
.accordion:after {
    font-size: 14px;
}
footer {
	height: 530px;
	font-size: 13px;	
}
#footer-links {
    width: 70%;
	margin: 30px auto 0;
}
#footer-nav-list-container {
    width: 99%;
    border: 2px solid #292929;
	margin: 30px auto 0;
	padding: 0 0 10px;
}
#footer-nav-list {
	width: 100%;
	flex-direction: row;
}
#footer-links h4 {
    text-align: center;
}
#footer-nav-list h4 {
    font-size: 12px;
	margin: 10px 0 5px 10%;
}
footer li {
    font-size: 11px;
}
#footer-mult {
    flex-basis: 14%;
}
#footer-add {
    flex-basis: 20%;
}
#footer-sub {
    flex-basis: 23%;
}
#footer-counting {
    flex-basis: 21%;
}
#footer-more-maths {
    flex-basis: 22%;
}
.border-right {
	height: 340px;
	border-right: 1px solid #292929;
}
#hpgif-container {
	width: 30%;
}
form {
	padding: 0;
}
input[type=number] {
    width: 36px;
    height: 39px;
}
.myForm input[type=number] {
	font-size: 21px;
	margin: 0;
	padding: 0;
}
.myForm20 input[type=number] {
	font-size: 21px;
	margin: 0;
	padding: 0;
}
.number-line-10 {
	font-size: 15px;
	word-spacing: 20px;
	margin: 0 auto;
	padding: 0;
}
#myForm20 {
	width: 100%;
}
#number-line-20 {
	font-size: 13px;
	word-spacing: 9px;
	margin: 0 auto;
	padding: 0;
}
.number-line-100 {
    font-size: 15px;
    word-spacing: 19px;
    margin: 0 auto;
    padding: 0;
}
.sums-main {
	width: 65%;
	margin: 0 auto;
}
.addition-sum {
	margin: 10px 3% 10px 12%;
	font-size: 21px;
	width: 85%;
}
.numboxes {
	padding: 13px 0;
	flex-basis: 15%;
	height: 20px;
}
.operator {	
	padding: 14px 0;
	flex-basis: 14%;
	font-size: 23px;
		height: 18px;
}
.ansboxes {
	height: 38px;
	padding: 4px 0;
}
.tick {
	height: 10px;
    width: 5px;
    border-width: 0 3px 3px 0;
    margin-top: -8px;
    margin-left: -4px;
}
.tickbg {
	content:"\00a0";
    border: solid 12px #00CD00;
}
.tick-small {
	height: 10px;
    width: 5px;
    border: solid #FFFFFF;
    border-width: 0px 3px 3px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    display: block;
    margin-top: -8px;
    margin-left: -4px;
}
.tickbg-small {
	content:"\00a0";
    border: solid 12px #00CD00;
    border-radius: 50%;
    -moz-border-radius: 30%;
    -webkit-border-radius: 50%;
    height: 0;
    width: 0;
    display: block;
}
#tickcontainerOne {
	padding: 0;
}
#tickcontainerTwo {
	padding: 0;
}
 #tickcontainerThree {
	padding: 0;
}
#tickcontainerFour {
	padding: 0;
}
#tickcontainerFive {
	padding: 0;
}
#tickcontainerSix {
	padding: 0;
}
#tickcontainerSev {
	padding: 0;
}
#tickcontainerEight {
	padding: 0;
}
#tickcontainerNine {
	padding: 0;
}
#tickcontainerTen {
	padding: 0;
}
/* ticks number bonds to 20 */
#tickcontainerOne20 {
	padding: 0;
}
#tickcontainerTwo20 {
	padding: 0;
}
 #tickcontainerThree20 {
	padding: 0;
}
#tickcontainerFour20 {
	padding: 0;
}
#tickcontainerFive20 {
	padding: 0;
}
#tickcontainerSix20 {
	padding: 0;
}
#tickcontainerSev20 {
	padding: 0;
}
#tickcontainerEight20 {
	padding: 0;
}
#tickcontainerNine20 {
	padding: 0;
}
#tickcontainerTen20 {
	padding: 0;
}
#tickcontainerEleven20 {
	padding: 0;
}
#tickcontainerTwelve20 {
	padding: 0;
}
 #tickcontainerThirteen20 {
	padding: 0;
}
#tickcontainerFourteen20 {
	padding: 0;
}
#tickcontainerFifteen20 {
	padding: 0;
}
#tickcontainerSixteen20 {
	padding: 0;
}
#tickcontainerSeventeen20 {
	padding: 0;
}
#tickcontainerEighteen20 {
	padding: 0;
}
#tickcontainerNineteen20 {
	padding: 0;
}
#tickcontainerTwenty20 {
	padding: 0;
}
input[type=number] {
    width: 36px;
    height: 37px;
}
/*  number lines  */
#number-line-form input[type=number] {
    font-size: 14px;
	padding: 0;
	width: 24px;
    height: 22px;
}		 
.nl-inner-container {
	flex-basis: 100%;
	padding: 0;
	margin: 0;
}
 .number-line {
    flex-basis: 67%;
	height: 40px;
    margin: 7px 0;
	padding: 10px 17% 10px 16%;
}
.number-line-two {
    flex-basis: 67%;
	height: 40px;
    margin: 7px 0;
	padding: 10px 17% 10px 16%;
}
.number {
	font-size: 14px;
	margin: 0;
    width: 7%;
}
.number-hundred {
	margin: 0;
	width: 7%;
	padding: 0 2px 0;
	font-size: 14px;
}
.ansboxes-number-line-hundred {
    width: 7%;
    padding: 0 0 0 3px;
}
.ansboxes-number-line {
	top: 0;
    margin: 0 0 0 1%;
    width: 7%;
}
.ansboxes-number-line-two {
	top: 0;
    margin: 0;
    width: 7%;
}
.tickboxes-numberlines {
    top: 0;
    left: 0;
	margin: 0 0 0 1%;
	flex-basis: 6%;
}
/* number lines 2   */
#number-line-form-2 input[type=number] {
    font-size: 14px;
    width: 24px;
	height: 22px;
	padding: 0;
}
.more-number-line {
	flex-basis: 68%;
	height: 50px;
	margin: 7px 0;
	padding: 0 16%;		
}
.more-number-line-two {
	flex-basis: 68%;
	height: 50px;
	margin: 7px 0;
	padding: 0 16%;
}
#message2-1 {
	font-size: 16px;
}
#message2-1-2 {
	font-size: 16px;
}
#message2-2 {
	font-size: 16px;
}
#message2-2-2 {
	font-size: 16px;
}
#message2-3 {
	font-size: 16px;
}
#message2-3-2 {
	font-size: 16px;
}
#message2-4 {
	font-size: 16px;
}
#message2-4-2 {
	font-size: 16px;
}
#message2-5 {
	font-size: 16px;
}
#message2-5-2 {
	font-size: 16px;
}
/*hundred board */
#hundred-board-form input[type=number] {
    font-size: 16px;
    padding: 0;
	height: 33px;
}
#hundred-board {
	width: 65%;
	margin: 15px auto 10px;
}
.hundred-number {
	font-size: 16px;
	padding: 7px 0;
	height: 35px;
}
.ansboxes-hundred {
	height: 35px;
}
#hundred-board-form input[type=button] {
    font-size: 14px;
}
.rnl-button {
    padding: 5px 15px;
	font-size: 14px;
}
#hundred-board-form h1 {
    margin-bottom: 25px;
}
#message-hundred {
    width: 28%;
}
#message-hundred h4 {
    font-size: 14px;
}
#message-hundred-container {
    height: 60px;
}
 /* random sums */
#randomsums input[type=number] {
	font-size: 19px;
	margin: 0;
	padding: 0;
}
#randomsums button {
	font-size: 10px;
	padding: 3px 2px;
}
#randomsums input[type=submit] {
	font-size: 14px;
} /*  ??  */
#number-line-20-random {
	font-size: 13px;
	word-spacing: 7px;
	margin: 0 auto;
	padding: 0;
}
.random-sums-main {
    width: 90%;
    margin: 0 auto;
}
.addition-sum-random-container {
    margin: 10px auto 0;
}
.addition-sum-random {
    font-size: 19px;
    margin: 0 auto;
    flex-basis: 67%;
    padding: 0 13% 20px 20%;
}
.random-boxes {
	flex-basis: 19%;
	height: 95px;
}
.random-inner {	
	width: 70%;
	height: 45px;
}
.random-inner-minus {	
	width: 70%;
	height: 29px;
	padding: 0 0 16px;
}
.random-inner-bottom {
	height: 50px;
	margin: 0;
	width: 100%;
}
.tickboxes-random {
    height: auto;
}
#tickcontainerRandomOne {
    height: auto;
}
#tickcontainerRandomTwo {
	height: auto;
}
#random-inner-one {
	width: 70%;
	height: 45px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 2;	
}
#random-inner-two {
	width: 70%;
	height: 45px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.random-boxes-num {
	border: 2px solid #bbbbbb;
	font-size: 22px;
}  /* ?? */
#random-num1 {
	display: block;
	position: relative;
	bottom: 0;
}
#message-1-random {
	width: 40%;
	margin: 10px auto;
	padding: 10px 0;
	font-size: 16px;
}
/* random sums minus   */
#random-inner-three {
	width: 70%;
	height: 45px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
#random-inner-four {	
	width: 70%;
	height: 45px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
#message-2-random {
	width: 40%;
	margin: 10px auto;
	padding: 10px 0;
	font-size: 16px;
}
/*
number bonds from ten*/
.myFormMinus input[type=number] {
	font-size: 21px;
	padding: 0;
}
.minus-operator {
	padding: 3px 0 24px;
	font-size: 21px;
}
#myFormMinus20 input[type=number] {
	font-size: 21px;
	padding: 0;
}
#tickcontainerOneMinus {
	padding: 0;
}
#tickcontainerTwoMinus {
	padding: 0;
}
#tickcontainerThreeMinus {
	padding: 0;
}
#tickcontainerFourMinus {
	padding: 0;
}
#tickcontainerFiveMinus {
	padding: 0;
}
#tickcontainerSixMinus {
	padding: 0;
}
#tickcontainerSevMinus {
	padding: 0;
}
#tickcontainerEightMinus {
	padding: 0;
}
#tickcontainerNineMinus {
	padding: 0;
}
#tickcontainerTenMinus {
	padding: 0;
}
#tickcontainerElevenMinus {
	padding: 0;
}
/* number bonds from 20 */
#tickcontainerOneMinus20 {
	padding: 0;
}
#tickcontainerTwoMinus20 {
	padding: 0;
}
#tickcontainerThreeMinus20 {
	padding: 0;
}
#tickcontainerFourMinus20 {
	padding: 0;
}
#tickcontainerFiveMinus20 {
	padding: 0;
}
#tickcontainerSixMinus20 {
	padding: 0;
}
#tickcontainerSevMinus20 {
	padding: 0;
}
#tickcontainerEightMinus20 {
	padding: 0;
}
#tickcontainerNineMinus20 {
	padding: 0;
}
#tickcontainerTenMinus20 {
	padding: 0;
}
#tickcontainerElevenMinus20 {
	padding: 0;
}
#tickcontainerTwelveMinus20 {
	padding: 0;
}
#tickcontainerThirteenMinus20 {
	padding: 0;
}
#tickcontainerFourteenMinus20 {
	padding: 0;
}
#tickcontainerFifteenMinus20 {
	padding: 0;
}
#tickcontainerSixteenMinus20 {
	padding: 0;
}
#tickcontainerSeventeenMinus20 {
	padding: 0;
}
#tickcontainerEighteenMinus20 {
	padding: 0;
}
#tickcontainerTwentyMinus19 {
	padding: 0;
}
#tickcontainerTwentyMinus20 {
	padding: 0;
}
#tickcontainerTwentyoneMinus20 {
	padding: 0;
}
/* random number lines */
.number-line-container {
    font-size: 12px;
}
.number-line-more {
    flex-basis: 90%;
    margin: 15px 0 15px;
    padding: 10px 0 30px;
}
.number-line-two-more {
    flex-basis: 90%;
    margin: 15px 0 15px;
    padding: 10px 0 30px;
}
.rnl-inner-container {
    flex-basis: 75%;
    margin: 10px 0;
    padding: 0 10% 0 15%;
    justify-content: flex-start;
}
#more-number-line-form h4 {
    margin: 8px auto;
    font-size: 15px;
}
.more-lines-button {
    position: relative;
    top: 20px;
    right: 13px;
    width: 100%;
}
.more-lines-button button {
    font-size: 11px;
    top: 15px;
    width: 165%;
}
.line-more {
    border-bottom: 1px solid #000;
    margin: 14px 22% 0 21%;
    flex-basis: 57%;
}
.number-more {
    margin: 0 0 12px 0;
    width: 10%;
    font-size: 12px;
}
#more-number-line-form input[type=number] {
    font-size: 17px;
}
#random-more-number-line {
    font-size: 17px;
	height: 36px;
	margin: 0 5%;
	position: relative;
    top: 5px;
}
#random-more-number-lineThree {
    font-size: 17px;
	height: 36px;
	margin: 0 5%;
	position: relative;
    top: 5px;
}
#random-more-number-lineTwo {
    font-size: 17px;
	height: 36px;
	margin: 0 5%;
	position: relative;
    top: 5px;
}
.ansboxes-more-number-line {
    height: 28px;
    margin: 0 0 29px;
	width: 10%;
}
.random-more-container {
    width: 10%;
}
.tickboxes-random-numberlines {
    margin: 0 0 0 3%;
    flex-basis: 7%;
    bottom: 5px;
}
#tickcontainerRNumberLines1 {
    margin: 0;
    padding: 0;
    flex-basis: 2%;
    position: relative;
    bottom: 15px;
}       /*    +1    */
#tickcontainerRNumberLines2 {
    margin: 0;
    padding: 0;
    flex-basis: 2%;
    position: relative;
    bottom: 15px;
}     /*   +10    */
#tickcontainerRNumberLines3 {
    margin: 0;
    padding: 0;
    flex-basis: 2%;
    position: relative;
    bottom: 15px;
}     /* +2 */
/*  counting in twos */
.footprints-and-in-2s {
    margin: 10px auto 20px;
    padding: 20px 0;
}
.counting-image-container {
    display: flex;
    flex-basis: 75%;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 3%;
}
.shape-border2 {
	width: 80%;
}
.counting-input {
    flex-basis: 10%;
	    align-items: flex-start;
    padding: 0;
}
.f-pair {
    margin: 0 14px;
	width: 46px;
}
.s-pair {
    margin: 0 11px;
	width: 36px;
}
.b-pair {
    margin: 0 7px;
	width: 34px;
}
.s-prints {
    margin: 0 5px;
	width: 26px;
}
.w-pair {
    margin: 0 5px;
	width: 19px;
}
#counting-in-2s input[type=number] {
    font-size: 16px;
    font-weight: bold;
    padding: 0 4px;
	width: 18px;
    height: 30px;
}
.ansboxes-in2s {
	flex-basis: 10%;
	height: auto;
}
.counting-input h5 {
	display: none;
}
.footprints-and-in-2s h4 {
	margin: 0;
}
#counting-in-2s h1 {
	margin-bottom: 0;
}
.counting-message {
    justify-content: center;
    margin: 0 0 0 1%;
	flex-basis: 8%;
}
#tickcontainerOne-in2s {
    padding: 0;
}
#tickcontainerTwo-in2s {
    padding: 0;
}
#tickcontainerThree-in2s {
    padding: 0;
}
#tickcontainerFour-in2s {
    padding: 0;
}
#tickcontainerFive-in2s {
    padding: 0;
}
/* 2d shapes */
#shapes2d input[type=radio] {
	top: 1px;
	margin: 5px auto;
    width: 10px;
    height: 10px;
}
.shapes-container {
	width: 100%;
}
#shapes-container-two {
	width: 100%;
}
.shape-section {
	width: 65%;
	margin: 0 auto;
	padding: 20px 0;
}
.shape-section-border {
	margin: 0 auto;
	padding: 0;
}
.shape-border {
	width: 40%;
    border-bottom: 1px solid #bbbbbb;
}
.image-container {
	height: auto;
}
.shape-answers {
	font-size: 13px;
}
#shapes2d h3 {
	font-size: 15px;
}
#square {
    width: 55px;
    height: 55px;
    margin: 0 3% 0 0;
}
#rectangle {
    width: 80px;
    height: 40px;
    margin: 0 3% 0 0;
}
#circle {
    width: 65px;
    height: 65px;
    margin: 0 3% 0 0;
}
#triangle {
	margin: 0 3% 0 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid yellow;	
}
#heart {
    width: 55px;
    height: 60px;
	right: 28px;
	bottom: 15px;
}
#heart:before,
#heart:after {
    left: 40px;
    top: 15px;
    width: 40px;
    height: 62px;
}
#heart:after {
    left: 0;
}
#oval {
    width: 93px;
    height: 37px;
	margin: 0 3% 0 0;
    border-radius: 75px / 30px; 
}
#diamond {
	margin: 0;
    border: 25px solid transparent;
    border-bottom: 35px solid cyan;
    top: -30px;
}
#diamond:after {
    left: -25px;
    top: 34px;
    border: 25px solid transparent;
    border-top: 35px solid cyan;
}
.shape-section-star {
	display: none;
}
/* dice */
#container-dice {
	height: 352px;
	padding: 20px 0;
}
#flx1 {
	flex-basis: 55%;
}
#flx2 {
	flex-basis: 45%;
}
.dice {
	width: 130px;
	height: 130px;
}
.circle {
	width: 25px;
	height: 25px;
}
#output-container {
    width: 90%;
	font-size: 21px;
}
#diceAnswer {
    font-size: 21px;
	padding: 10px 0;
}
#output1 {
	flex-basis: 13%;
}
#output2 {
	flex-basis: 13%;
}
.operatorD {
	flex-basis: 13%;
}
#answer {
	flex-basis: 13%;
}
/* odd and even numbers */
#odd-even-section {
	padding: 30px 0 60px;
}
#odd-even-num {
	font-size: 20px;
	padding: 15px 0;
}
#odd-even-main input[type=radio] {
    top: 1px;
    margin: 5px;
    width: 10px;
    height: 10px;
}
/* media queries  */
@media only screen and (min-width: 801px) {
    .rnl-inner-container {
        flex-basis: 70%;
        padding: 0 12% 0 18%;
    }
    .line-more {
        margin: 14px 24% 0;
        flex-basis: 52%;
    }
    #number-line-form input[type=number] {
	    width: 25px;
    }
    #number-line-form-2 input[type=number] {
	    width: 25px;
    }
}
@media only screen and (min-width: 850px) {
    .rnl-inner-container {
        flex-basis: 66%;
        padding: 0 14% 0 20%;
    }
    .line-more {
        margin: 14px 25% 0 26%;
        flex-basis: 49%;
    }
    #hundred-board {
        width: 60%;
    }
    .counting-container {
        width: 90%;
    }
    #random-headings {
        width: 80%;
    }
    #footer-nav-list-container {
        width: 97%;
    }
    #footer-nav-list h4 {
        font-size: 13px;
    }
    footer li {
        font-size: 12px;
    }
    #nav-accordion {
        flex-basis: 94%;
    }
	#output-container {
    width: 83%;
    }
}
@media only screen and (min-width: 900px) {
    #hundred-board {
        width: 56%;
    }
    .random-sums-main {
        width: 80%;
    }
    .addition-sum-random {
        flex-basis: 63%;
        padding: 0 15% 20px 22%;
    }
    #nav-accordion {
        flex-basis: 90%;
    }
    #nav-accordion ul {
        margin: 0 0 0 5%;
    }
}
@media only screen and (min-width: 901px) {
    .rnl-inner-container {
        flex-basis: 70%;
        padding: 0 12% 0 18%;
    }
    .number-line-more {
        flex-basis: 80%;
    }
    .number-line-two-more {
        flex-basis: 80%;
    }
}
@media only screen and (min-width: 950px) {
    .line-more {
        margin: 14px 27% 0 28%;
        flex-basis: 45%;
    }
    .counting-container {
        width: 80%;
    }
    #random-headings {
        width: 75%;
    }
    #hundred-board {
        width: 54%;
    }
    #footer-nav-list h4 {
        font-size: 14px;
    }
    footer li {
        font-size: 13px;
    }
    #footer-nav-list-container {
        width: 95%;
    }
    #output-container {
        width: 77%;
    }
}
@media only screen and (min-width: 956px) {
    .rnl-inner-container {
        flex-basis: 66%;
        padding: 0 15% 0 19%;
    }
}
@media only screen and (min-width: 1000px) {
	.sums-main {
		width: 60%;
	}
    .number-line-more {
        flex-basis: 65%;
    }
    .number-line-two-more {
        flex-basis: 65%;
    }
    .more-lines-button button {
        width: 170%;
    }
    .more-lines-button {
        right: 15px;
    }
    .rnl-inner-container {
        flex-basis: 82%;
        padding: 0 7% 0 11%;
    }
    .random-sums-main {
        width: 70%;
    }
    #nav-list-outer {
        width: 90%;
    }
    #message-hundred {
        width: 22%;
    }
    #hundred-board {
        width: 52%;
    }
    #footer-nav-list-container {
        width: 92%;
    }
    #nav-accordion {
        flex-basis: 84%;
    }
    #nav-accordion ul {
        margin: 0 0 0 7%;
    }
    .shape-border {
	    width: 35%;
    }
    .shape-section {
	    width: 55%;
    }
	#output-container {
        width: 70%;
    }
}
@media only screen and (min-width: 1050px) {
    .line-more {
        margin: 14px 29% 0 30%;
        flex-basis: 41%;
    }
    #hundred-board {
        width: 50%;
    }
    .counting-container {
        width: 75%;
    }
    #nav-accordion {
        flex-basis: 80%;
	    margin: 21px 10% 0;
    }
}